@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  background: #f5f5f5;
  color: #333;
  
}

/* Header */
.header {
  text-align: center;
  background: #3674fa;
  color: white;
  padding: 20px 10px;
  border-radius: 0 0 30px 30px;
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header .logo img {
  width: 60px;   
  height: auto;  
}

.footer {
  text-align: center;
  background: #3674fa;
  color: white;
  padding: 10px 5px;
  position:relative;
  bottom: 0;
  width: 100%;  
  font-size: 12px;
}

.subtitle {
  font-size: 14px;
  opacity: 0.9;
}

/* Hero Section */
.hero {
  text-align: center;
  margin: 30px 20px;
}

.hero h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
.numero
.hero h2 span {
  color: #ffb120;
}

.hero p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

button {
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 15px;
  cursor: pointer;
}

.primary {
  background: linear-gradient(90deg,#ffb120, #ffb120);
  color: white;
}

.secondary {
  border: 2px solid #ffb120;
  background: transparent;
  color: #ffb120;
}



/* Planos */
.planos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
}

.plano {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.plano-father{
  display: flex;
  flex-direction: column;
}

.plano h3 {
  color: #0f0f0f;
  margin-bottom: 8px;
}

.plano ul {
  font-size: 13px;
  margin-left: 15px;
  color: #666;
}

.plano .preco {
  font-size: 22px;
  color: #131213;
  margin: 10px 0;
}

.plano button {
  background:#3674fa;
  color: white;
  width: 100%;
  margin-top: 10px;
}
